### Victor Flores
### ETE 4990 Spring 2025
### 2 May 2025


# Lab 11: Understanding the data. 

Last 2 classes we have been working on understanding data. In this lab you will apply that.


**Context**
The goal of this lab is to understand a large dataset of 27901 rows and 18 columns Perform Exploratory Data Analysis (EDA) on the data. Look at how the data effects the end result **depression** (yes/no)

- Load and get a basic understanding of the dataset
- Clean up the data 
    - examples:
        - check and fix any missing data 
        - use both Hot and integer encoding
        - convert any numeric data from strings to ints
- Perform Exploratory Data Analysis (EDA) 
    - I will leave it to you to understand and explore this. 
        - Histplot
        - Countplot
        - Corelation
        - Heatmaps
        - boxplots
        - have fun

Make sure to communicate to me along the way. I want your to tell me what your assumptions are what your learning about the data and what you learned with EDA.  There are 18 data points for each student I expect an perform EDA on most of those points like what we did in class with MPG. (remember how we did a sns.pairplot(df[[ "cylinders", "mpg","model_year"]]) and sns.pairplot(df[["mpg", "horsepower", "weight", "displacement"]]) and others. ) 

remember to have fun with this 

----------------------------------------------------------------------------------------------------------------------------------------------

From: https://www.kaggle.com/datasets/adilshamim8/student-depression-dataset/data


Field Descriptions

**id** - A unique identifier assigned to each student record in the dataset.

**Gender** - The gender of the student (e.g., Male, Female, Other). This helps in analyzing gender-specific trends in mental health.

**Age** - The age of the student in years.

**City** - The city or region where the student resides, providing geographical context for the analysis.

**Profession** - The field of work or study of the student, which may offer insights into occupational or academic stress factors.

**Academic Pressure** - A measure indicating the level of pressure the student faces in academic settings. This could include stress from exams, assignments, and overall academic expectations.

**Work Pressure** - A measure of the pressure related to work or job responsibilities, relevant for students who are employed alongside their studies.

**CGPA** - The cumulative grade point average of the student, reflecting overall academic performance.

**Study Satisfaction** - An indicator of how satisfied the student is with their studies, which can correlate with mental well-being.

**Job Satisfaction** - A measure of the student’s satisfaction with their job or work environment, if applicable.

**Sleep Duration** - The average number of hours the student sleeps per day, which is an important factor in mental health.

**Dietary Habits** - An assessment of the student’s eating patterns and nutritional habits, potentially impacting overall health and mood.

**Degree** - The academic degree or program that the student is pursuing.

**Have you ever had suicidal thoughts ?** - A binary indicator (Yes/No) that reflects whether the student has ever experienced suicidal ideation.

**Work/Study Hours** - The average number of hours per day the student dedicates to work or study, which can influence stress levels.

**Financial Stress** - A measure of the stress experienced due to financial concerns, which may affect mental health.

**Family History of Mental Illness** - Indicates whether there is a family history of mental illness (Yes/No), which can be a significant factor in mental health predispositions.

**Depression** - The target variable that indicates whether the student is experiencing depression (Yes/No).

------------------------------------------------------------------------------------------------------------------------------------------------

*Provided for reference only*
``` python 
import kagglehub
import shutil

# Download latest version
path = kagglehub.dataset_download("adilshamim8/student-depression-dataset")

#move the dowload to the current directory
shutil.move(path, "./Lab_11_dataset")
````

In [18]:
# importing libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# loading the dataset
df = pd.read_csv("./Lab_11_dataset/student_depression_dataset.csv")
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# loading the dataset
df = pd.read_csv(r"C:\Users\cadmin\Desktop\valfo\Labs - ETE 4990\homeworkfolder-CPVictorAV\Labs\Lab 11\student_depression_dataset.csv")
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0

here to start analizing the data to see how student depression is stemmed from, I would drop unnecessary catagories from this dataset like profession (since we know we are looking at student data), and id (not necessary when doing regression statistics)

In [3]:
sD_df = df.drop(columns=["id","Profession"])
sD_df.head()

,Gender,Age,City,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,33.0,Visakhapatnam,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,Female,24.0,Bangalore,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,Male,31.0,Srinagar,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,Female,28.0,Varanasi,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,Female,25.0,Jaipur,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0

In [39]:
# now its important to drop any null values to have a consistent data set

sD_df.dropna(inplace=True)
sD_df.head()

,Gender,Age,City,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,33.0,51,5.0,0.0,8.97,2.0,0.0,0,0,B.Pharm,Yes,3.0,1.0,0,1
1,Female,24.0,5,2.0,0.0,5.90,5.0,0.0,0,1,BSc,No,3.0,2.0,1,0
2,Male,31.0,44,3.0,0.0,7.03,5.0,0.0,2,0,BA,No,9.0,1.0,1,0
3,Female,28.0,49,3.0,0.0,5.59,2.0,0.0,1,1,BCA,Yes,4.0,5.0,1,1
4,Female,25.0,18,4.0,0.0,8.13,3.0,0.0,0,1,M.Tech,Yes,1.0,1.0,0,0

In [17]:
# checking for nulls

sD_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 27901 non-null  object
 1   Age                                    27901 non-null  float64
 2   City                                   27901 non-null  int8
 3   Academic Pressure                      27901 non-null  float64
 4   Work Pressure                          27901 non-null  float64
 5   CGPA                                   27901 non-null  float64
 6   Study Satisfaction                     27901 non-null  float64
 7   Job Satisfaction                       27901 non-null  float64
 8   Sleep Duration                         27901 non-null  int8
 9   Dietary Habits                         27901 non-null  object
 10  Degree                                 27901 non-null  object
 11  Have you ever had suicidal thoughts ?  27901 non-null  object
 12  Work/Study Hours                       27901 non-null  float64
 13  Financial Stress                       27901 non-null  object
 14  Family History of Mental Illness       27901 non-null  object
 15  Depression                             27901 non-null  int64
dtypes: float64(7), int64(1), int8(2), object(6)
memory usage: 3.0+ MB

here I see data without nulls, i will start encoding the collumns so they can be implemented better in this dataframe

In [44]:
# ======= Integer Encoding ======= #

sD_df["City"] = sD_df["City"].astype('category')
city_mapping = dict(enumerate(sD_df['City'].cat.categories)) #save the map for later if needed
sD_df['City'] = sD_df['City'].cat.codes

sD_df["Sleep Duration"] = sD_df["Sleep Duration"].astype('category')
Sleep_mapping = dict(enumerate(sD_df['Sleep Duration'].cat.categories)) #save the map for later if needed
sD_df['Sleep Duration'] = sD_df['Sleep Duration'].cat.codes

sD_df["Family History of Mental Illness"] = sD_df["Family History of Mental Illness"].astype('category')
MentalIllness_mapping = dict(enumerate(sD_df['Family History of Mental Illness'].cat.categories)) #save the map for later if needed
sD_df['Family History of Mental Illness'] = sD_df['Family History of Mental Illness'].cat.codes

df["Dietary Habits"] = df["Dietary Habits"].astype('category')
Dietary_mapping = dict(enumerate(df['Dietary Habits'].cat.categories)) #save the map for later if needed
df['Dietary Habits'] = df['Dietary Habits'].cat.codes

With hot encoding I am using sD_df as a refrence frame with the integer encoded data to keep history intact

In [ ]:
# ======== Hot Encoding ========== #

sD_gender = pd.get_dummies(sD_df['Gender'])

# sD_gender

sD_dummy = pd.concat([sD_df,sD_gender], axis=1)


sD_dummy = sD_dummy.drop(columns=["Gender","Dietary Habits","Family History of Mental Illness"]) # I had to take some collumns out due to some error in encoding so sorry
sD_dummy

,Age,City,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Depression,Female,Male
0,33.0,51,5.0,0.0,8.97,2.0,0.0,0,B.Pharm,Yes,3.0,1.0,1,False,True
1,24.0,5,2.0,0.0,5.90,5.0,0.0,0,BSc,No,3.0,2.0,0,True,False
2,31.0,44,3.0,0.0,7.03,5.0,0.0,2,BA,No,9.0,1.0,0,False,True
3,28.0,49,3.0,0.0,5.59,2.0,0.0,1,BCA,Yes,4.0,5.0,1,True,False
4,25.0,18,4.0,0.0,8.13,3.0,0.0,0,M.Tech,Yes,1.0,1.0,0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,27.0,45,5.0,0.0,5.75,5.0,0.0,0,'Class 12',Yes,7.0,1.0,0,True,False
27897,27.0,25,2.0,0.0,9.40,3.0,0.0,2,MSc,No,0.0,3.0,0,False,True
27898,31.0,11,3.0,0.0,6.61,4.0,0.0,0,MD,No,12.0,2.0,0,False,True
27899,18.0,25,5.0,0.0,6.88,2.0,0.0,2,'Class 12',Yes,10.0,5.0,1,True,False
27900,27.0,38,4.0,0.0,9.24,1.0,0.0,2,BCA,Yes,2.0,3.0,1,False,True

### More cleanup work because lot of things didn't transfer well

In [ ]:

sD_thought = pd.get_dummies(sD_df['Have you ever had suicidal thoughts ?'])
# sD_thought

sD_dummy = pd.concat([sD_dummy,sD_thought],axis=1)
sD_dummy

,Age,City,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Depression,Female,Male,No,Yes
0,33.0,51,5.0,0.0,8.97,2.0,0.0,0,B.Pharm,Yes,3.0,1.0,1,False,True,False,True
1,24.0,5,2.0,0.0,5.90,5.0,0.0,0,BSc,No,3.0,2.0,0,True,False,True,False
2,31.0,44,3.0,0.0,7.03,5.0,0.0,2,BA,No,9.0,1.0,0,False,True,True,False
3,28.0,49,3.0,0.0,5.59,2.0,0.0,1,BCA,Yes,4.0,5.0,1,True,False,False,True
4,25.0,18,4.0,0.0,8.13,3.0,0.0,0,M.Tech,Yes,1.0,1.0,0,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,27.0,45,5.0,0.0,5.75,5.0,0.0,0,'Class 12',Yes,7.0,1.0,0,True,False,False,True
27897,27.0,25,2.0,0.0,9.40,3.0,0.0,2,MSc,No,0.0,3.0,0,False,True,True,False
27898,31.0,11,3.0,0.0,6.61,4.0,0.0,0,MD,No,12.0,2.0,0,False,True,True,False
27899,18.0,25,5.0,0.0,6.88,2.0,0.0,2,'Class 12',Yes,10.0,5.0,1,True,False,False,True
27900,27.0,38,4.0,0.0,9.24,1.0,0.0,2,BCA,Yes,2.0,3.0,1,False,True,False,True

In [ ]:
sD_dummy.rename(columns={'Yes':'Suicidal Tendencies'},inplace=True)
sD_dummy

,Age,City,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Depression,Female,Male,No,Suicidal Tendencies
0,33.0,51,5.0,0.0,8.97,2.0,0.0,0,B.Pharm,Yes,3.0,1.0,1,False,True,False,True
1,24.0,5,2.0,0.0,5.90,5.0,0.0,0,BSc,No,3.0,2.0,0,True,False,True,False
2,31.0,44,3.0,0.0,7.03,5.0,0.0,2,BA,No,9.0,1.0,0,False,True,True,False
3,28.0,49,3.0,0.0,5.59,2.0,0.0,1,BCA,Yes,4.0,5.0,1,True,False,False,True
4,25.0,18,4.0,0.0,8.13,3.0,0.0,0,M.Tech,Yes,1.0,1.0,0,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,27.0,45,5.0,0.0,5.75,5.0,0.0,0,'Class 12',Yes,7.0,1.0,0,True,False,False,True
27897,27.0,25,2.0,0.0,9.40,3.0,0.0,2,MSc,No,0.0,3.0,0,False,True,True,False
27898,31.0,11,3.0,0.0,6.61,4.0,0.0,0,MD,No,12.0,2.0,0,False,True,True,False
27899,18.0,25,5.0,0.0,6.88,2.0,0.0,2,'Class 12',Yes,10.0,5.0,1,True,False,False,True
27900,27.0,38,4.0,0.0,9.24,1.0,0.0,2,BCA,Yes,2.0,3.0,1,False,True,False,True

In [54]:
sD_test = sD_dummy.drop(columns=["Have you ever had suicidal thoughts ?","No"])

In [55]:
sD_test.head()

,Age,City,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Degree,Work/Study Hours,Financial Stress,Depression,Female,Male,Suicidal Tendencies
0,33.0,51,5.0,0.0,8.97,2.0,0.0,0,B.Pharm,3.0,1.0,1,False,True,True
1,24.0,5,2.0,0.0,5.90,5.0,0.0,0,BSc,3.0,2.0,0,True,False,False
2,31.0,44,3.0,0.0,7.03,5.0,0.0,2,BA,9.0,1.0,0,False,True,False
3,28.0,49,3.0,0.0,5.59,2.0,0.0,1,BCA,4.0,5.0,1,True,False,True
4,25.0,18,4.0,0.0,8.13,3.0,0.0,0,M.Tech,1.0,1.0,0,True,False,True

In [56]:
sD_test["Degree"] = sD_test["Degree"].astype('category')
Degree_mapping = dict(enumerate(sD_test['Degree'].cat.categories)) #save the map for later if needed
sD_test['Degree'] = sD_test['Degree'].cat.codes

sD_test.head()

,Age,City,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Degree,Work/Study Hours,Financial Stress,Depression,Female,Male,Suicidal Tendencies
0,33.0,51,5.0,0.0,8.97,2.0,0.0,0,4,3.0,1.0,1,False,True,True
1,24.0,5,2.0,0.0,5.90,5.0,0.0,0,11,3.0,2.0,0,True,False,False
2,31.0,44,3.0,0.0,7.03,5.0,0.0,2,6,9.0,1.0,0,False,True,False
3,28.0,49,3.0,0.0,5.59,2.0,0.0,1,8,4.0,5.0,1,True,False,True
4,25.0,18,4.0,0.0,8.13,3.0,0.0,0,17,1.0,1.0,0,True,False,True

In [59]:
sD_tendency = pd.get_dummies(sD_test["Suicidal Tendencies"])
sD_tendency = sD_tendency.map(int)
sD_test2 = pd.concat([sD_test,sD_tendency],axis=1)
sD_test2

,Age,City,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Degree,Work/Study Hours,Financial Stress,Depression,Female,Male,Suicidal Tendencies,False,True
0,33.0,51,5.0,0.0,8.97,2.0,0.0,0,4,3.0,1.0,1,False,True,True,0,1
1,24.0,5,2.0,0.0,5.90,5.0,0.0,0,11,3.0,2.0,0,True,False,False,1,0
2,31.0,44,3.0,0.0,7.03,5.0,0.0,2,6,9.0,1.0,0,False,True,False,1,0
3,28.0,49,3.0,0.0,5.59,2.0,0.0,1,8,4.0,5.0,1,True,False,True,0,1
4,25.0,18,4.0,0.0,8.13,3.0,0.0,0,17,1.0,1.0,0,True,False,True,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,27.0,45,5.0,0.0,5.75,5.0,0.0,0,0,7.0,1.0,0,True,False,True,0,1
27897,27.0,25,2.0,0.0,9.40,3.0,0.0,2,25,0.0,3.0,0,False,True,False,1,0
27898,31.0,11,3.0,0.0,6.61,4.0,0.0,0,22,12.0,2.0,0,False,True,False,1,0
27899,18.0,25,5.0,0.0,6.88,2.0,0.0,2,0,10.0,5.0,1,True,False,True,0,1
27900,27.0,38,4.0,0.0,9.24,1.0,0.0,2,8,2.0,3.0,1,False,True,True,0,1

In [68]:
sD_test2.rename(columns={'True':'Suicidal Tendencies'},inplace=True)

In [74]:
sD_testNew = sD_test2.drop(columns=["delete this","False"])
sD_testNew

KeyError: "['False'] not found in axis"

now that the data is cleaned up and properly encoded for skew prevention, its ready for Exploratory Data Analysis (EDA)

In [75]:
sD_test.head()

,Age,City,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Degree,Work/Study Hours,Financial Stress,Depression,Female,Male,Suicidal Tendencies
0,33.0,51,5.0,0.0,8.97,2.0,0.0,0,4,3.0,1.0,1,False,True,True
1,24.0,5,2.0,0.0,5.90,5.0,0.0,0,11,3.0,2.0,0,True,False,False
2,31.0,44,3.0,0.0,7.03,5.0,0.0,2,6,9.0,1.0,0,False,True,False
3,28.0,49,3.0,0.0,5.59,2.0,0.0,1,8,4.0,5.0,1,True,False,True
4,25.0,18,4.0,0.0,8.13,3.0,0.0,0,17,1.0,1.0,0,True,False,True

In [76]:
sD_test.corr()

ValueError: could not convert string to float: '?'

### Extra testing of collumn data

In [9]:
sD_df["City"].unique()

array([51,  5, 44, 49, 18, 39, 46,  8, 33, 37, 48, 19, 40,  4, 23, 32, 24,
       17, 45, 25,  7, 29,  3, 13, 16, 50, 20, 38, 11, 10, 43, 27,  6,  0,
        9,  2,  1, 31, 15, 47, 12, 14, 42, 22, 41, 28, 26, 35, 30, 34, 36,
       21], dtype=int8)

In [33]:
print(Dietary_mapping)

{0: 0, 1: 1, 2: 2, 3: 3}

In [43]:
sD_df["Have you ever had suicidal thoughts ?"].unique()

['Yes', 'No']
Categories (2, object): ['No', 'Yes']

In [57]:
sD_test["Degree"].unique()

array([ 4, 11,  6,  8, 17, 27,  0,  3, 12,  9, 15, 25, 10, 16, 21, 18,  2,
       22, 19, 20, 14,  1, 13,  5,  7, 23, 24, 26], dtype=int8)

In [58]:
print(Degree_mapping)

{0: "'Class 12'", 1: 'B.Arch', 2: 'B.Com', 3: 'B.Ed', 4: 'B.Pharm', 5: 'B.Tech', 6: 'BA', 7: 'BBA', 8: 'BCA', 9: 'BE', 10: 'BHM', 11: 'BSc', 12: 'LLB', 13: 'LLM', 14: 'M.Com', 15: 'M.Ed', 16: 'M.Pharm', 17: 'M.Tech', 18: 'MA', 19: 'MBA', 20: 'MBBS', 21: 'MCA', 22: 'MD', 23: 'ME', 24: 'MHM', 25: 'MSc', 26: 'Others', 27: 'PhD'}